body {
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
}


/*=============
  DashboardHeader
  ==============*/

.name-app {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

.logoDashboard {
  display: flex;
  margin-top: 1em;
  margin-left: 3em;
}

.nav-dashboard {
  display: flex;
  list-style: none;
  margin-top: 3em;
}

.dashboard-logo {
  display: flex;
  border: 4px solid black;
  border-radius: 3px;
  margin-top: 1em;
  height: 2px;
  padding: 19px;
}


/*==================
   end-DashboardHeader
  =====================*/


/*=============
   DashboardMain
  ==============*/

.dashboard-main {
  display: flex;
  margin-right: 45em;
  font-size: 14px;
}

.dashboard-left {
  list-style: none;
  margin-top: 2em;
  margin-left: 3em;
}

.head {
  padding-bottom: 1px;
  font-size: 18px;
}

.head1 {
  display: flex;
  font-size: 18px;
}

.dashboard-left li a:focus {
  background-color: #08aac7;
  color: #fff; 
}

.list {
  padding: 2px;
}

.dashboard-middle {
  height: 200px;
  list-style: none;
  margin-top: 3em;
  margin-left: 6em; 
}


.dashboard-middle li a:focus {
  border: 1px solid #08aac7;
  background-color: #08aac7;
  color: #fff;
}

li {
  padding: 1px;
}

.svg-btn {
  background-image: url('../componentDashboard/add.svg');
  display: flex;
  margin-left: 8em;
  margin-top: -3.2em;
  width: 17px;
  height: 17px;
  background-color: #f9f9f9;
  border: 2px solid #000;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.svg-btn:hover {
  cursor: pointer;
}

#input-addbudget {
 display: none;
 border: 2px solid black;
 width: 80%;
}

.fa-plus-square-o {
  background-color: #f9f9f9;
  font-size: 22px;
}


/*=================
  end-DashboardMain
 =================*/


/*=================
    TableDashboard
 =================*/

table,
th,
tr {
  border-collapse: collapse;
  width: 80%;
  text-align: left;
  font-size: 12px;
  margin-top: 2em;
  margin-left: 3em;
}

td,
th {
  padding: 5px;
}

th {
  font-size: 14px;
}

.dashboard-table {
  border: 1px solid #F6F3F3;
  width: 100%;
  height: 400px;
  margin-left: 14em;
  margin-top: 4em;
  margin-bottom: 3em;
  box-shadow: 4px -3px 31px #F6E9E9;
}

.table-head {
  font-size: 14px;
}

.headtb {
  font-size: 12px;
  color: #08aac7;
}

.leftinput {
  width: 6.5em;
  border: 2px solid #000;
}

.middinput {
  width: 3.5em;
  border: 2px solid #000;
}

.rightinput {
  width: 3.5em;
  border: 2px solid #000;
}

.total {
  color: #08aac7;
}

/*==================
 end- TableDashboard
 ==================*/

 /*==================
start-ChartDashboard
===================*/
.dashboard-chart {
  display: flex;
  justify-content: center;
  border: 1px solid #f6f3f3;
  margin-left: 14em;
  margin-top: 4em;
  margin-bottom: 3em;
  box-shadow: 4px -3px 31px #f6e9e9;
  width: 80%;
  height: 400px;
}

/*==================
end- ChartDashboard
===================*/

/*==================
 start-Mediaqueries
 ==================*/

 @media (max-width: 1150px) {
  .dashboard-table {
    margin-left: 9em;
  }
}

@media (max-width: 1000px) {
  .dashboard-table {
    margin-left: 5em;
  }
  .dashboard-middle {
    margin-left: 2em;
  }
}

@media (max-width: 800px) {
  .dashboard-main {
    display: inline-block;
    margin-left: 24%;
  }
  .dashboard-middle {
    margin: -28% -15% 5% 50%;
  }
  .dashboard-table {
    margin-top: 0;
  }
}

@media (max-width: 660px) {
  .dashboard-main {
    margin-left: 25%;
  }
  .dashboard-left {
    margin-left: 5%;
    margin-right: 5%;
  }
  .dashboard-middle {
    margin-bottom: 5%;
    margin-left: 45%;
    margin-top: -35%;
  }
  .dashboard-table {
    margin-left: 0;
    width: 110%;
  }
}

@media (max-width: 500px) {
  .dashboard-main {
    margin-left: 10%;
  }

  .dashboard-table {
    margin-left: 10%;
  }
}

@media (max-width: 450px) {
  .dashboard-main {
    margin-left: 0;
  }
  .dashboard-left {
    margin-left: 0;
  }
}

 

  
   
   
  